body {
    font-family: Arial, sans-serif;
    background-color: #F8F7F3;
    color: var(--black);
    margin: 0;
    padding: 0;
  }

  .dashboard {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
    padding: 10px;
    background-color: var(--light-bg);
    width: calc(100% - 140px);
    margin-left: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 15px 20px;
  }
  
  .header h1 {
    margin: 0;
  }

  .search-container {
    position: relative;
    width: 125px;
    margin-right: 55px;
  }
  
  .search-bar {
    padding: 8px 30px 8px 40px; /* Add padding for the icon on the left */
    border: 1px solid #BF2D1E;
    border-radius: 20px;
    width: 100%; /* Ensure it takes up full width */
    background-color: #F4DEC9;
  }
  
  .search-bar:focus {
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 1; /* Ensure it's above the input field */
  }
  
  .search-bar:focus + .search-icon {
    fill: #961A22; /* Change icon color when search bar is focused */
  }
  
  .main-content {
    flex-grow: 1;
    padding: 10px;
    background-color: var(--light-bg);
    width: calc(100% - 140px);
    margin-left: 0;
    overflow-x: hidden; 
  }
 
  hr {
    border: none; /* Remove default border */
    height: 3px; /* Set the stroke thickness */
    background-color: #6D0000; /* Set the color */
    border-radius: 10px; /* Round the edges */
    margin: 20px 0; /* Add vertical margin to space it out */
  }

/* .comparison-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  } */
  
  .book-selection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .book-card {
    width: 45%;
    padding: 15px;
    border: 2px solid #800000;
    border-radius: 8px;
    background-color: #fbeee6;
  }
  
  .book-details p {
    margin: 5px 0;
  }
  
  .data-visualization {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .chart-container {
    width: 30%;
    text-align: center;
  }
  
  .combined-data {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #800000;
    border-radius: 8px;
    background-color: #fbeee6;
    text-align: center;
  }
  