/* .dashboard {
  display: flex;
  height: 100vh; 
}

.main-content {
  margin-left: 120px; 
  padding: 20px;
  width: calc(100% - 120px); 
  overflow-y: auto; 
}

.dashboard-welcome {
  margin-top: 30px;
}

h2 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
} */
