.timeline {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .dropdowns {
    display: flex;
    gap: 15px;
  }
  
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #BF2D20;
    background-color: #BF2D20;
    color: white;
    cursor: pointer;
  }
  
  .chart-container {
    width: 97%; /* Full screen width */
    height: 90vh; /* 90% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  hr {
    border-top: 3px solid #6D0000;
    height: 0; 
    border-radius: 10px; 
    width: 100%; 
    display: block !important; 
    visibility: visible !important; 
    flex-basis: 100%;
    margin-left: 0;
  }