.timeline {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .dropdowns {
    display: flex;
    gap: 15px;
  }
  
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #BF2D20;
    background-color: #BF2D20;
    color: white;
    cursor: pointer;
  }
  
  .chartContainer {
    width: 100%; /* Full screen width */
    height: 100vh; /* 90% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #F4DEC9;
    border: 2px solid #961A22;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  hr {
    border-top: 3px solid #6D0000;
    height: 0; 
    border-radius: 10px; 
    width: 100%; 
    display: block !important; 
    visibility: visible !important; 
    flex-basis: 100%;
    margin-left: 0;
  }

  .results-container {
    display: flex;           /* Enable flexbox for horizontal layout */
    flex-wrap: wrap;         /* Allow items to wrap if the container is full */
    justify-content: flex-start; /* Align items to the left */
    gap: 20px;               /* Add space between the items */
    margin-top: 20px;
  }
  
  .book-grid {
    display: flex;           /* Use flexbox for the grid */
    gap: 20px;               /* Space between each book */
    flex-wrap: wrap;         /* Wrap the items to the next line if space is insufficient */
  }
  
  .book-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 200px;            /* Set a fixed width for each book item */
    box-sizing: border-box;  /* Include padding and border in the width calculation */
  }
  
  .book-item img {
    max-width: 100%;         /* Ensure the image fits within the book item */
    height: auto;            /* Maintain the image aspect ratio */
    border-radius: 8px;
  }
  
  .book-item p {
    font-size: 14px;
    margin-top: 8px;
    color: #333;
  }
  